body {
    margin: 1.5em;
    font-family: 'Poppins',sans-serif;
}

//this is a change

a {
    text-decoration: none;
    font-size: 1.3rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/shoe.jpg');
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-size: cover;
    background-position-x: 20% ;
    background-position-y: 20% ;

    animation: introload 2s forwards;
    //overflow: hidden;
}

.logo {
    color: white;
    font-weight: bold;
}

nav {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background: white;
    width: 50%;
    z-index: 999;
    text-transform: uppercase;

    transform: translateX(100%);
    transition: transform .5s ease-in-out;

    ul {
        list-style-type: none;
        padding: 0;
        margin-top: 8em;

        a {
            color: black;
            padding: .75em 2em ;
            display: block;
            &:hover {
                background: rgb(240, 240, 240);
            }
        }
    }

    .close {
        float: right;
        margin: 2em;
        width: 2em;
    }
}

header {
    display: flex;
    justify-content: space-between;

    svg {
        width: 3em;
        margin-top: -.6em;
    }
}

h1 {
    font-size: 3rem;
    margin-top: 2em;
    margin-bottom: 3.3em;
}

.sub-head {
    font-size: 1.5em;
}

section.hero {
    color: white;
    height: 90vh;
    animation: movedown 2s ease-in-out forwards;
    opacity: 0;

    .arrow-down {;
        position: absolute;
        width: 1em;
        bottom: 2em;
        stroke: white;

        animation: movearrow 1s alternate-reverse infinite;

        path {
            fill: white;
        }
    }
}

.info {
    img {
        width: 100%;
        object-fit: cover;
        height: 11em;
    }

    .title {
        font-weight: bold;
        font-size: 1.25rem;
    }

    .subtitle {
        line-height: 1.5rem;
    }
}

@media only screen and (min-width: 680px) {

    body {
        margin: 1.5em 5em;
        font-family: 'Poppins',sans-serif;
    }

}

@media only screen and (min-width: 920px) {

    .menu {
        display: none;
    }

    nav {
        transform: translateX(0);
        position: unset;
        display: block;
        width: auto;
        height: auto;
        background: none;

        svg.close{
            display: none;
        }
    
        ul {
            display: flex;
            margin: 0;

            a {
                color: white;
                padding: .5em 1.5em;
                font-size: .9rem;

                &:hover {
                    background: none;
                    text-decoration: underline;
                }
            }
        }

    }

    .hero-img {
        left: unset;
        right: 0;
        width: 50%;
        height: 42em;
        
    }

    .logo {
        color: black;

        span {
            color: red;
        }
    }

    section.hero {
        color: black;
        height: auto;
        width: 40%;
        margin-bottom: 8em;

        .arrow-down {
            stroke: black;
            position: unset;
            path {
                fill: black;
            }
        }
    }


    .feature {
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 3em;
        margin-bottom: 8em;

        img {
            width: 25em;
        }

        .content {
            text-align: right;
            width: 25em;
        }
    }

    .feature.left {
        grid-template-areas: "left";

        img {
            grid-area: left;
        }

        .content {
            text-align: left;
            width: 25em;
            justify-self: left;
        }
    }

}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1200px;
        margin: 0 auto;
    }

    .feature {
        gap: 0;
    }
}

@keyframes introload {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 4% 97%);
    }
}

@keyframes movearrow {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(10px);
    }
}

@keyframes movedown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}